<div class="tasks-wrapper">
    <div class="tasks-container">
        <div class="tasks-toolbar">
            <div class="tasks-toolbar-item">
                <i class="pi pi-list"></i>
                <h4>Tasks</h4>
            </div>
            <div class="tasks-toolbar-item">
                <button class="add-task-btn"><i class="pi pi-search"></i></button>
                <button class="add-task-btn"><i class="pi pi-filter-fill"></i></button>
                <button class="add-task-btn"><i class="pi pi-plus"></i></button>
            </div>
        </div>
    </div>
</div>