@import '../../../../styles/abstracts';

.tasks-wrapper {
  @include flex(row, space-between, center);
  margin-bottom: 20px;
  .tasks-container {
    height: 100vh;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $color-bg;
    border-radius: $border-radius-md;
    box-shadow: $box-shadow-spread;
    .tasks-toolbar {
      @include flex(row, space-between, center);
      box-shadow: $box-shadow-v;
      .tasks-toolbar-item {
        @include flex(row, flex-start, center);
        gap: $flex-gap-sm;
        .add-task-btn {
          cursor: pointer;
          @include flex(row, flex-start, center);
          gap: $flex-gap-sm;
          padding: 14px;
          color: $color-text-white;
          background: $color-btn-bg-grey;
          border: none;
          border-radius: $border-radius-md;
          transition: $transition-fast;
          &:hover {
            background-color: $color-btn-bg-light-grey;
          }
        }
      }
    }
  }
}
