@import '../../../styles/abstracts';

.not-found-container {
  @include flex(column, center, center);
  height: 100vh;
  padding: 10px;
  .error-code {
    padding: 10px;
    border-radius: $border-radius-sm;
    color: $color-text-danger;
    background-color: $color-bg-danger;
    box-shadow: $box-shadow-spread-danger;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: $flex-gap-sm;
    padding-bottom: 200px;
    text-align: center;
    a {
      text-decoration: none;
      @include flex(row, center, center);
      gap: $flex-gap-sm;
      padding: 10px;
      border-radius: $border-radius-sm;
      color: $color-text-white;
      background-color: $color-btn-bg-grey;
      transition: $transition-fast;
      &:hover {
        background-color: $color-btn-bg-light-grey;
      }
    }
  }
}
