@import '../../../styles/abstracts';

.not-found-container {
  @include flexCenter(column);
  height: 100vh;
  padding: 10px;
  .error-code {
    padding: 10px;
    border-radius: $border-radius-sm;
    color: $color-text-danger;
    background-color: $color-bg-danger;
    box-shadow: $box-shadow-spread-danger;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: $flex-gap-sm;
    padding-bottom: 200px;
    text-align: center;
    a {
      @include flexCenter(row);
      gap: $flex-gap-sm;
      padding: 10px;
      border-radius: $border-radius-sm;
      text-decoration: none;
      color: $color-text-white;
      box-shadow: $box-shadow-spread;
      &:hover {
        transition: $transition-fast;
        background-color: $color-btn-bg-hover-grey;
      }
    }
  }
}
