@mixin flex($flex-direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin actionBtnSm() {
  cursor: pointer;
  padding: 10px 14px;
  border-radius: $border-radius-md;
  border: none;
  background: none;
}
