@mixin flex($flex-direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin actionBtn($padding) {
  cursor: pointer;
  padding: $padding;
  border-radius: $border-radius-sm;
  border: none;
  background: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  font-size: $font-size-sm;
}
