// Color Variables
$color-text-white: whitesmoke;
$color-text-black: black;
$color-text-cyan: #00eeff;
$color-text-danger: #ff0000;
$color-disabled: #f5f5f518;

$color-bg: #111213;
$color-bg-page: #161718;

$color-bg-danger: #601818;
$color-bg-light-danger: #751e1e;
$color-bg-dark-danger: #511313;

$color-btn-bg-white: #e6e6e6;
$color-btn-bg-grey: #282828;
$color-btn-bg-light-grey: #494949;
$color-btn-bg-dark-grey: #1a1a1a;

$color-box-shadow: #2a2a2a;
$color-box-shadow-danger: #ff0000;

// Font Variables
$font-size-sm: 14px;
$font-size-md: 16px;

// Box Shadow
$box-shadow-spread: 0px 0px 0px 0.5px $color-box-shadow;
$box-shadow-h: 0.5px 0px 0px 0px $color-box-shadow;
$box-shadow-v: 0px 0.5px 0px 0px $color-box-shadow;
$box-shadow-spread-danger: 0px 0px 0px 2px $color-box-shadow-danger;

// Border Radius
$border-radius-md: 20px;
$border-radius-sm: 10px;

// Transition
$transition-fast: all 250ms;
$transition-slow: all 500ms;

// Flex gap
$flex-gap-sm: 10px;
$flex-gap-md: 20px;
