.sidebar-hidden {
  float: left;
  color: whitesmoke;
  background-color: #111213;
  box-shadow: 1px 0px 0px 0px #cccccc1f;
  font-size: 18px;
  border: none;
  padding-top: 2.5rem;
  height: 100vh;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  &:hover {
    transition: ease 0.2s;
    cursor: pointer;
    background-color: #245b8b5d;
    color: #00eeff;
    box-shadow: 0px 0px 0px 1px #00eeff92;
  }
}
.sidebar {
  float: left;
  background-color: #111213;
  width: 20%;
  height: 100vh;
  box-shadow: 1px 0px 0px 0px #cccccc1f;
  .header {
    position: relative;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 0px 0px #cccccc1f;
    padding: 0.5rem;
    .sidebar-close-btn {
      color: whitesmoke;
      font-size: 18px;
      border-radius: 5px;
      border: none;
      background: none;
      &:hover {
        transition: ease 0.2s;
        cursor: pointer;
        background-color: #ff000015;
        color: #ff0000b5;
      }
      .pi-angle-double-left {
        padding-top: 5px;
      }
    }
    .icon {
      border-radius: 5px;
      padding: 10px 10px;
      background-color: #245b8b5d;
      color: #00eeff;
    }
  }
  .header-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    .add-board-btn {
      border-radius: 5px;
      background: none;
      border: none;
      color: whitesmoke;
      padding: 5px 10px;
      .pi-plus {
        padding-top: 3px;
      }
      &:hover {
        transition: ease 0.2s;
        cursor: pointer;
        background-color: #245b8b5d;
        color: #00eeff;
      }
    }
  }
  .sidebar-content {
    overflow-y: auto;
    height: 70vh;
  }
  ul {
    padding-left: 0;
    list-style-type: none;
    .sidebar-item {
      padding: 0.5rem;
    }
  }
}

@media (max-width: 960px) {
  .sidebar {
    width: 60%;
    .sidebar-content {
      overflow-y: auto;
      height: 50vh;
    }
  }
}
