@if (!sidebarBtnClicked) {
  <button (click)="onSideBarBtnClick()" class="sidebar-hidden">
    <i class="pi pi-chevron-right"></i>
  </button>
} @else {
  <aside class="sidebar">
    <header>
      <h3>
        <button (click)="onSideBarBtnClick()" class="sidebar-close-btn">
          <i class="pi pi-chevron-left"></i>
        </button>
        Your boards
      </h3>
    </header>
    <ul>
      <li class="sidebar-item">
        <button class="sidebar-item-btn">Awesome Project 1</button>
      </li>
      <li class="sidebar-item">
        <button class="sidebar-item-btn">Awesome Project 2</button>
      </li>
      <li class="sidebar-item">
        <button class="sidebar-item-btn">Awesome Project 3</button>
      </li>
    </ul>
  </aside>
}
