@if (isSidebarBtnClicked) {
<button (click)="onSideBarBtnClick()" class="sidebar-hidden">
  <i class="pi pi-angle-double-right"></i>
</button>
} @else {
<aside class="sidebar">
  <header class="header">
    <h3><i class="icon pi pi-list"></i> Task Organizer</h3>
    <button (click)="onSideBarBtnClick()" class="sidebar-close-btn">
      <i class="pi pi-angle-double-left"></i>
    </button>
  </header>
  <header class="header-content">
    <h3>Your boards</h3>
    <button class="add-board-btn"><i class="pi pi-plus"></i></button>
  </header>
  <div class="sidebar-content">
    <ul>
      @for (board of boards; track board.id) {
      <li class="sidebar-item">
        <app-board-btn [boardBtn]="board" />
      </li>
      }
    </ul>
  </div>
</aside>
}