@import '../../../styles/abstracts';

.sidebar-hidden {
  float: left;
  display: flex;
  padding: 10px;
  padding-top: 35px;
  height: 100vh;
  width: 0%;
  border: none;
  font-size: $font-size-lg;
  color: $color-text-white;
  background-color: $color-bg;
  box-shadow: $box-shadow-h;
  &:hover {
    transition: $transition-fast;
    cursor: pointer;
    background-color: $color-btn-bg-hover-grey;
  }
}
.sidebar {
  float: left;
  height: 100vh;
  width: 22%;
  background-color: $color-bg;
  box-shadow: $box-shadow-h;
  .header {
    @include flexSpaceBetween();
    padding: 10px;
    box-shadow: $box-shadow-v;
    .sidebar-close-btn {
      padding: 10px;
      border-radius: $border-radius-sm;
      font-size: $font-size-lg;
      border: none;
      color: $color-text-white;
      background: none;
      &:hover {
        transition: $transition-fast;
        cursor: pointer;
        background-color: $color-btn-bg-hover-grey;
      }
      .pi-angle-double-left {
        padding-top: 5px;
      }
    }
    .icon {
      padding: 10px;
      border-radius: $border-radius-sm;
      color: $color-text-cyan;
      background-color: $color-btn-bg-active;
    }
  }
}
.sidebar-content {
  overflow-y: auto;
  height: 70vh;
  ul {
    padding-left: 0;
    list-style-type: none;
    .sidebar-item {
      padding: 10px;
      .add-board-btn {
        @include flexCenter(row);
        gap: $flex-gap-sm;
        padding: 14px;
        border-radius: $border-radius-sm;
        border: none;
        color: $color-text-white;
        background: none;
        box-shadow: $box-shadow-spread;
        width: 100%;
        &:hover {
          cursor: pointer;
          transition: $transition-fast;
          background-color: $color-btn-bg-hover-grey;
        }
      }
      .add-board-form-content {
        @include flexSpaceBetween();
        gap: $flex-gap-sm;
        padding: 11px;
        border-radius: $border-radius-sm;
        text-decoration: none;
        color: $color-text-white;
        background-color: $color-btn-bg;
        input {
          width: 100%;
          padding: 10px;
          border-radius: $border-radius-sm;
          border: none;
          color: $color-text-white;
          background: none;
        }
        .add-board-form-btns {
          @include flexCenter(row);
          gap: $flex-gap-sm;
          button {
            @include actionBtnSm();
            color: $color-text-white;
          }
          .confirm-add-btn {
            .pi-check {
              padding-top: 3px;
            }
            &:disabled {
              cursor: default;
              color: $color-disabled;
            }
            &:not(:disabled):hover {
              transition: $transition-fast;
              color: $color-text-cyan;
              background-color: $color-btn-bg-hover;
            }
          }
          .close-add-btn {
            .pi-times {
              padding-top: 3px;
            }
            &:hover {
              transition: $transition-fast;
              background-color: $color-bg-danger;
              color: $color-text-danger;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 240px) and (max-width: 599px) {
  .sidebar {
    position: absolute;
    width: 100%;
    .sidebar-content {
      overflow-y: auto;
      height: 60vh;
    }
  }
}
@media (min-width: 600px) and (max-width: 959px) {
  .sidebar {
    position: absolute;
    width: 45%;
    .sidebar-content {
      overflow-y: auto;
      height: 50vh;
    }
  }
}
@media (min-width: 960px) and (max-width: 1279px) {
  .sidebar {
    width: 33%;
    .sidebar-content {
      overflow-y: auto;
      height: 70vh;
    }
  }
}
