@import '../../../styles/abstracts';

.sidebar-hidden {
  float: left;
  display: flex;
  padding: 10px;
  padding-top: 35px;
  margin-right: 40px;
  height: 100vh;
  width: 0%;
  border: none;
  font-size: $font-size-md;
  color: $color-text-white;
  background-color: $color-bg;
  box-shadow: $box-shadow-right;
  transition: $transition-fast;
  &:hover {
    cursor: pointer;
    background-color: $color-btn-bg-light-grey;
  }
}
.sidebar {
  float: left;
  height: 100vh;
  width: 22%;
  margin-right: 40px;
  background-color: $color-bg;
  box-shadow: $box-shadow-right;
  .header {
    @include flex(row, space-between, center);
    padding: 10px;
    box-shadow: $box-shadow-bottom;
    .sidebar-close-btn {
      padding: 20px;
      border-radius: $border-radius-sm;
      font-size: $font-size-md;
      border: none;
      color: $color-text-white;
      background: none;
      transition: $transition-fast;
      &:hover {
        cursor: pointer;
        background-color: $color-btn-bg-dark-grey;
      }
      .pi-angle-double-left {
        padding-top: 5px;
      }
    }
    .icon {
      padding: 10px;
      border-radius: $border-radius-md;
      color: $color-text-black;
      background-color: $color-btn-bg-white;
    }
  }
}
.sidebar-content {
  overflow-y: auto;
  height: 70vh;
  ul {
    padding-left: 0;
    list-style-type: none;
    .sidebar-item {
      padding: 10px;
      .add-board-btn {
        @include flex(row, center, center);
        gap: $flex-gap-sm;
        padding: 14px;
        border-radius: $border-radius-md;
        border: none;
        color: $color-text-white;
        background-color: $color-btn-bg-grey;
        width: 100%;
        transition: $transition-fast;
        &:hover {
          cursor: pointer;
          background-color: $color-btn-bg-light-grey;
        }
      }
      .add-board-form-content {
        @include flex(row, space-between, center);
        gap: $flex-gap-sm;
        padding: 11px;
        border-radius: $border-radius-sm;
        text-decoration: none;
        color: $color-text-white;
        background-color: $color-btn-bg-grey;
        input {
          width: 100%;
          padding: 10px;
          border: none;
          color: $color-text-white;
          background: none;
        }
        .add-board-form-btns {
          @include flex(row, center, center);
          gap: $flex-gap-sm;
          button {
            @include actionBtn(10px 14px);
            color: $color-text-white;
          }
          .confirm-add-btn {
            transition: $transition-fast;
            .pi-check {
              padding-top: 3px;
            }
            &:disabled {
              cursor: default;
              color: $color-disabled;
            }
            &:not(:disabled):hover {
              color: $color-text-white;
              background-color: $color-btn-bg-light-grey;
            }
          }
          .close-add-btn {
            transition: $transition-fast;
            .pi-times {
              padding-top: 3px;
            }
            &:hover {
              background-color: $color-btn-bg-light-grey;
              color: $color-text-white;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 240px) and (max-width: 599px) {
  .sidebar {
    position: absolute;
    width: 100%;
    .sidebar-content {
      overflow-y: auto;
      height: 60vh;
    }
  }
}
@media (min-width: 600px) and (max-width: 959px) {
  .sidebar {
    position: absolute;
    width: 45%;
    .sidebar-content {
      overflow-y: auto;
      height: 50vh;
    }
  }
}
@media (min-width: 960px) and (max-width: 1279px) {
  .sidebar {
    width: 33%;
    .sidebar-content {
      overflow-y: auto;
      height: 70vh;
    }
  }
}
