<div class="board-btn-wrapper">
  @if (isEditBoardBtnClicked) {
  <div class="edit-board-wrapper" #editBoardWrapper>
    <form #editBoardForm="ngForm" (ngSubmit)="onSubmitEdit(editBoardForm)">
      <div class="edit-board-form-content">
        <input #editBoardInput id="boardNameInput" [(ngModel)]="boardNameInput" name="boardNameInput" type="text"
          required>
        <div class="edit-board-form-btns">
          <button class="confirm-edit-btn" type="submit" [disabled]="!editBoardForm.valid"
            (click)="toggleButtonState('submitBtn')"><i class="pi pi-check"></i></button>
          <button class="close-edit-btn" type="button" (click)="toggleButtonState('closeEditBtn')"><i
              class="pi pi-times"></i></button>
        </div>
      </div>
    </form>
  </div>
  } @else {
  <a class="board-btn" [ngClass]="{'board-btn-active-action' : isBoardBtnActionClicked}"
    [routerLink]="['/board', boardBtn.id, boardBtn.boardUrl]" routerLinkActive="active">
    {{ boardBtn.boardName }}
    <button class="board-btn-action-btn" (click)="toggleButtonState('actionBtn')"><i
        class="pi pi-ellipsis-h"></i></button>
  </a>
  @if (isBoardBtnActionClicked) {
  <div class="action-btns-wrapper" #actionWrapper>
    <button class="edit-board" [ngClass]="{'active' : isEditBoardBtnClicked}" (click)="toggleButtonState('editBtn')"><i
        class="pi pi-pen-to-square"></i></button>
    <button class="delete-board" (click)="onDeleteBoard()"><i class="pi pi-trash"></i></button>
  </div>
  }
  }
</div>