@import '../../../../styles/abstracts';

.board-btn-wrapper {
  display: flex;
  .board-btn {
    flex-grow: 1;
    @include flex(row, space-between, center);
    padding: 10px;
    border-radius: $border-radius-sm;
    text-decoration: none;
    font-size: $font-size-md;
    color: $color-text-white;
    background-color: $color-btn-bg-grey;
    transition: $transition-fast;
    &:hover {
      cursor: pointer;
      background-color: $color-btn-bg-light-grey;
      .pi-ellipsis-h {
        color: $color-text-white;
      }
    }
    &.active {
      background-color: $color-btn-bg-light-grey;
    }
    &.board-btn-active-action {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    .board-btn-action-btn {
      @include actionBtn(10px 14px);
      color: $color-text-white;
      transition: $transition-fast;
      .pi-ellipsis-h {
        padding-top: 4px;
      }
      &:hover {
        background-color: $color-btn-bg-grey;
        .pi-ellipsis-h {
          color: $color-text-white;
        }
      }
    }
  }

  .action-btns-wrapper {
    @include flex(row, space-between, center);
    gap: $flex-gap-sm;
    padding: 10px;
    border-radius: $border-radius-sm;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: $color-btn-bg-light-grey;
    .edit-board {
      @include actionBtn(10px 14px);
      color: $color-text-white;
      transition: $transition-fast;
    }
    .delete-board {
      @include actionBtn(10px 14px);
      color: $color-text-white;
      transition: $transition-slow;
    }
    .pi-pen-to-square,
    .pi-trash {
      padding-top: 3px;
    }
    .edit-board:hover {
      background-color: $color-btn-bg-grey;
    }
    .delete-board:hover {
      color: $color-text-danger;
      background-color: $color-bg-danger;
    }
  }

  .edit-board-wrapper {
    width: 100%;
    .edit-board-form-content {
      @include flex(row, space-between, center);
      gap: $flex-gap-sm;
      border-radius: $border-radius-sm;
      padding: 10px;
      text-decoration: none;
      background-color: $color-btn-bg-light-grey;
      input {
        width: 100%;
        padding: 12px;
        border: none;
        color: $color-text-white;
        background: $color-btn-bg-grey;
      }
      .edit-board-form-btns {
        @include flex(row, center, center);
        gap: $flex-gap-sm;
        button {
          @include actionBtn(10px 14px);
          color: $color-text-white;
        }
        .confirm-edit-btn {
          transition: $transition-fast;
          .pi-check {
            padding-top: 3px;
          }
          &:disabled {
            cursor: default;
            color: $color-disabled;
          }
          &:not(:disabled):hover {
            background-color: $color-btn-bg-grey;
          }
        }
        .close-edit-btn {
          transition: $transition-fast;
          .pi-times {
            padding-top: 3px;
          }
          &:hover {
            color: $color-text-white;
            background-color: $color-btn-bg-grey;
          }
        }
      }
    }
  }

  .delete-board-wrapper {
    flex-grow: 1;
    @include flex(row, space-between, center);
    padding: 10.5px;
    border-radius: $border-radius-sm;
    font-size: $font-size-sm;
    color: $color-text-danger;
    background-color: $color-bg-danger;
    .deletion-action-btns-wrapper {
      @include flex(row, center, center);
      gap: $flex-gap-sm;
      button {
        @include actionBtn(10px 14px);
        color: $color-text-danger;
      }
      .confirm-board-deletion {
        transition: $transition-slow;
        &:hover {
          background-color: $color-bg-light-danger;
        }
      }
      .cancel-board-deletion {
        transition: $transition-fast;
        &:hover {
          background-color: $color-bg-dark-danger;
        }
      }
      .pi-check,
      .pi-times {
        padding-top: 3px;
      }
    }
  }
}
