@import '../../../../styles/abstracts';

.board-btn-wrapper {
  display: flex;
  .board-btn {
    flex-grow: 1;
    @include flexSpaceBetween();
    padding: 10px;
    border-radius: $border-radius-sm;
    text-decoration: none;
    font-size: $font-size-sm;
    color: $color-text-white;
    background-color: $color-btn-bg;
    &:hover {
      transition: $transition-fast;
      cursor: pointer;
      color: $color-text-cyan;
      background-color: $color-btn-bg-hover;
      .pi-ellipsis-h {
        color: $color-text-cyan;
      }
    }
    &.active {
      color: $color-text-cyan;
      background-color: $color-btn-bg-active;
      .pi-ellipsis-h {
        color: $color-text-cyan;
      }
    }
    &.board-btn-active-action {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    .board-btn-action-btn {
      @include actionBtnSm();
      color: $color-text-white;
      .pi-ellipsis-h {
        padding-top: 4px;
      }
      &:hover {
        transition: $transition-fast;
        background-color: $color-btn-bg-hover;
      }
    }
  }

  .action-btns-wrapper {
    @include flexSpaceBetween();
    gap: $flex-gap-sm;
    padding: 10px;
    border-radius: $border-radius-sm;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: $color-btn-bg-active;
    .edit-board,
    .delete-board {
      @include actionBtnSm();
      color: $color-text-cyan;
      .pi-pen-to-square,
      .pi-trash {
        padding-top: 3px;
      }
    }
    .edit-board:hover {
      transition: $transition-fast;
      background-color: $color-btn-bg-active;
    }
    .edit-board.active {
      background-color: $color-btn-bg-active;
    }
    .delete-board:hover {
      transition: $transition-slow;
      color: $color-text-danger;
      background-color: $color-bg-danger;
    }
  }

  .edit-board-wrapper {
    width: 100%;
    .edit-board-form-content {
      @include flexSpaceBetween();
      gap: $flex-gap-sm;
      border-radius: $border-radius-sm;
      padding: 10px;
      text-decoration: none;
      color: $color-text-cyan;
      background-color: $color-btn-bg-active;
      input {
        width: 100%;
        padding: 12px;
        border-radius: $border-radius-sm;
        border: none;
        color: $color-text-cyan;
        background: none;
      }
      .edit-board-form-btns {
        @include flexCenter(row);
        gap: $flex-gap-sm;
        button {
          @include actionBtnSm();
          color: $color-text-cyan;
          border-radius: $border-radius-sm;
        }
        .confirm-edit-btn {
          .pi-check {
            padding-top: 3px;
          }
          &:disabled {
            cursor: default;
            color: $color-disabled;
          }
          &:not(:disabled):hover {
            transition: $transition-fast;
            background-color: $color-btn-bg-hover;
          }
        }
        .close-edit-btn {
          background: none;
          .pi-times {
            padding-top: 3px;
          }
          &:hover {
            transition: $transition-fast;
            background-color: $color-bg-danger;
            color: $color-text-danger;
          }
        }
      }
    }
  }
}
